<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD main.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.project.mapper.DataTypeMapper">
    <select id="getNumber" resultType="int">
        select number from data_type where dataType=${dataType}
    </select>
    <update id="updateNumber" >
        update data_type set number =#{number} where  dataType=#{dataType}
    </update>
</mapper>